$cor-padrao: orange;
$cor-branca: #fff;
$raio: 0.3em;

@mixin borda-arredondada {
  -webkit-border-radius: $raio;
  border-radius: $raio;
}


/** Geral **/
body {
  font-family: "Roboto Slab", serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.titulo-secao {
  text-decoration: underline;
  font-size: 2em;
  text-align: center;
}

.sobre,
.planos,
.blog,
.contato {
  padding: 3em 0 6em 0;
}

h2 {
  margin-top: 0;
}

/** Header **/
header {
  border-top: 5px solid $cor-padrao;
  background: rgba(30, 44, 53, 0.8);
  height: 90px;
  width: 100%;
  position: absolute;
}

header .container {
  position: relative;
}

.menu-opcoes {
  position: absolute;
  right: 0;
  top: -.5em;
  font-size: 1.2em;
  font-weight: lighter;
}

.menu-opcoes ul {
  padding-left: 0;
}

.menu-opcoes li {
  display: inline-block;
  width: 5em;
}

.menu-opcoes a {
  color: white;
  text-decoration: none;
}

.menu-opcoes a:hover {
  text-decoration: underline;
}

/** Destaque **/
.destaque {
  background: url(../imagens/destaque.jpg) center bottom repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  height: 330px;
  padding-top: 10em;
}

.destaque p {
  width: 30em;
}

.destaque p:first-child {
  width: 30em;
  font-size: 1.3em;
  line-height: 1.1;
}

.destaque p:first-child:first-line {
  font-size: 2.2em;
  font-weight: bold;
}

.destaque button {
  margin-top: 1em;
  background: $cor-padrao;
  border: 0;
  padding: .6em;
  font-size: 1.2em;
  @include borda-arredondada;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}


/** Sobre **/
.sobre {
  background: #ebebeb;
}

.duas-colunas {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  columns: 1;
}

.duas-colunas h3 {
  margin: 0;
}

.sobre p {
  font: .9em/1.8 sans-serif;
}

.sobre p:first-child {
  margin-bottom: 3em;
}

.plataformas {
  padding: 0;
}

.plataformas li {
  display: inline-block;
  width: 50px;
  height: 60px;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em 1.5em 0 0;
}

.plataformas li:nth-child(1) {
  background-image: url(../imagens/logo-apple.png);
}

.plataformas li:nth-child(2) {
  background-image: url(../imagens/logo-android.png);
}

.plataformas li:nth-child(3) {
  background-image: url(../imagens/logo-windows.png);
}

.plataformas li:nth-child(4) {
  background-image: url(../imagens/logo-blackberry.png);
}

/** Planos **/
.planos {
  background: #1e2c35;
}

.planos h2 {
  color: $cor-branca;
}

.plano {
  background: white;
  width: 18em;
  display: inline-block;
  margin: 1em 0 0 1.4em;
  padding-bottom: 2em;
}

.plano:hover {
  background: #dedede;
}

.plano h3 {
  color: $cor-branca;
  font-size: 1.8em;
  background: $cor-padrao;
  text-align: center;
  height: 2em;
  padding-top: .6em;
  margin-top: 0;
}

.plano div {
  text-align: center;
  color: $cor-padrao;
  font-size: 2.75em;
}

.itens-plano {
  padding-left: 1.2em;
}

.itens-plano li {
  font-size: 1em;
  list-style: none;
  border-bottom: 1px solid #acacac;
  padding: .5em;
  width: 14.8em;
}

.itens-plano li:last-child {
  border: 0;
}

.itens-plano span {
  float: right;
}

.plano button {
  background: $cor-padrao;
  border: 0;
  color: $cor-branca;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  @include borda-arredondada;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  margin-left: 2em;
}

.icone-check, .icone-x {
  background: url(../imagens/sprite.png) no-repeat;
  width: 18px;
  height: 18px;
}

.icone-check {
  background-position: -5px -5px;
}

.icone-x {
  background-position: -33px -5px;
}



/** Blog **/
.blog {
  display: block;
  position: relative;
}

.blog::after {
  content: "";
  background: url(../imagens/fundo.png);
  background-size: 25px 25px;
  opacity: .15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.post-destaque,
.posts-antigos {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.post-destaque {
  margin-right: 2em;
}

.post-destaque img {
  width: 100%;
}

.posts-antigos a {
  text-decoration: none;
  color: black;
  background: url(../imagens/icone-relogio.png) left center no-repeat;
  padding-left: 2.5em;
  height: 1.7em;
  display: block;
}

.posts-antigos a:hover {
  text-decoration: underline;
}

/** Contato **/
.contato input,
.contato button {
  display: block;
}

form {
  margin: 0 auto;
  width: 50%;
}

.contato input,
textarea {
  width: 100%;
  margin-bottom: .8em;
  padding: 4px 8px;
  @include borda-arredondada;
  border: 2px solid #ccc;
}

.contato button {
  margin: 0 auto;
  background: $cor-padrao;
  border: 0;
  color: $cor-branca;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  @include borda-arredondada;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

/** Footer **/
footer {
  display: block;
  position: relative;
}

footer::after {
  content: "";
  background: url(../imagens/fundo-rodape.png);
  opacity: .02;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

footer::before {
  content: "";
  background: #1e2c35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

footer .container {
  padding-top: 3em;
  height: 6.5em;
  position: relative;
}

footer .container img {
  width: 250px;
}

.menu-rodape,
.social {
  position: absolute;
}

.menu-rodape ul li {
  display: inline-block;
  margin-left: 2em;
}

.menu-rodape {
  top: 1em;
  right: 0;
}

.social {
  bottom: 0;
  right: 0;
}

.menu-rodape li,
.social li {
  display: inline;
}

footer a {
  color: $cor-branca;
  text-decoration: none;
}

.social li {
  float: left;
}

.social li a {
  display: block;
  width: 55px;
  height: 55px;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  margin-left: 1em;
}

.social a {
  background-position: top;
  background-size: 50px 50px;
}

.social a[href*="facebook"] {
  background-image: url(../imagens/facebook.png);
}

.social a[href*="twitter"] {
  background-image: url(../imagens/twitter.png);
}

.social a[href*="instagram"] {
  background-image: url(../imagens/instagram.png);
}